{%include 'header.html'%}
                                <div class="email-right-box ms-0 ms-sm-4 ms-sm-0">
                                    
                                    <div class="compose-content">
                                        <form action="{{url_for('envoi')}}" method="post">
                                            <div class="mb-3">
                                                <input type="text" name="compteDestinataire" class="form-control bg-transparent" placeholder=" To:">
                                            </div>
                                            <div class="mb-3">
                                                <input type="text" name="objet" class="form-control bg-transparent" placeholder=" Subject:">
                                            </div>
                                            <div id="suggestion">

                                            </div>
                                            <div class="mb-3">
                                                <textarea id="email-compose-editor" name="texte" class="textarea_editor form-control bg-transparent" rows="15" placeholder="Enter text ..."></textarea>
                                            </div>
                                    </div>
                                    <div class="text-start mt-4 mb-3">
                                        <button class="btn btn-primary btn-sl-sm me-2" type="submit"><span class="me-2"><i class="fa fa-paper-plane"></i></span>Send</button>
                                       <a href="{{url_for('boitereception')}}"> <button class="btn btn-danger light btn-sl-sm" type="button"><span class="me-2"><i class="fa fa-times"></i></span>Cancel</button></a>
                                    </div>
                                </form>
                                </div>
                                <script src="{{ url_for('static',filename= 'js/monjs.js')}}"></script>
{%include 'footer.html'%}
        <!--**********************************
            Content body end
        ***********************************-->