<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename = 'css/app.css' )}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename = 'css/navbar.css' )}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename = 'assets/font/fontawesome-5/css/all.min.css' )}}"
    />
  </head>
  <body>
    <div id="logo-box">
      <img
        src="{{url_for('static',filename = 'assets/img/logo2.png' )}}"
        alt="logo"
      />
    </div>
    {{map|safe}}
  </body>

  <script>
    var base_url = "{{url_for('index')}}";
  </script>

  <script src="{{url_for('static',filename = 'assets/js/map.js' )}}"></script>
  <!---**<script src="{{url_for('static',filename = 'assets/js/data.js' )}}"></script>-->
</html>
